.content {
    text-align: left;
}
.content a:link {
    text-decoration: underline;
}


pre {
padding: 0;
}
/* Bootstrap Callout
 * https://cpratt.co/twitter-bootstrap-callout-css-styles/
 * License: http://disq.us/p/1jtyh6f "You're free to do whatever you like with it though. Go wild."
 * Source: https://codepen.io/chrisdpratt/pen/IAymB/
 */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4, .bs-callout-default a {
    color: #777;
}
.bs-callout-osmc {
    border-left-color: #a911fc;
}
.bs-callout-osmc h4, .bs-callout-osmc a {
    color: #a911fc;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4, .bs-callout-primary a {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4, .bs-callout-success a {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4, .bs-callout-danger a {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4, .bs-callout-warning a {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4, .bs-callout-info a {
    color: #5bc0de;
}
